---
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');//データに一度にアクセス Astro.glob()
---

<ul>
  {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  <!-- map() メソッドは、与えられた関数を配列のすべての要素に対して呼び出し、その結果からなる新しい配列を生成します。 -->
</ul>

<!-- 
[ヒント]

3 番目のブログ投稿のタイトル。
allPosts[2].frontmatter.title

最初のブログ投稿の URL へのリンク。
<a href={allPosts[0].url}>First Post!!</a>

各投稿のコンポーネント。最終更新日が表示されます。
allPosts.map((post) => <LastUpdated date={post.frontmatter.pubDate} />) -->